---
import AdminLayout from "../../../../layouts/AdminLayout.astro";
import { AdminMangasBreadcrumb } from "../../../../components/admin/AdminMangasBreadcrumb.jsx";
import { AdminCreateMangaProfileCard } from "../../../../components/admin/AdminCreateMangaCard.jsx";
---

<AdminLayout title="Crear manga" page="mangas">
  <AdminMangasBreadcrumb client:only />
  <div class="py-2"></div>
  <AdminCreateMangaProfileCard client:only />
</AdminLayout>
