---
import Layout from '../layouts/Layout.astro';
---

<Layout title="latManga - Página no encontrada">
	<h1>Error 404</h1>
    <h3>¡Ups! No encontramos la página que buscas.</h3>
    <p>La página que buscas no existe o ha sido movida. Por favor, verifica la URL e inténtalo de nuevo.</p>
</Layout>

<style>
</style>
