---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Página no encontrada">
    <div class="mx-auto max-w-screen-md py-12">
        <h1>Error 404</h1>
        <h3>¡Ups! No encontramos la página que buscas.</h3>
        <p>La página que buscas no existe o ha sido movida. Por favor, verifica la URL e inténtalo de nuevo.</p>
    </div>
</Layout>

<style>
</style>
