---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Error interno">
    <div class="mx-auto max-w-screen-md py-12">
        <h1>Error 500</h1>
        <h3>¡Ups! Algo salió mal.</h3>
        <p>Estamos teniendo problemas técnicos. Por favor, intenta de nuevo más tarde.</p>
    </div>
</Layout>

<style>
</style>
