---
import Layout from '../layouts/Layout.astro';
---

<Layout title="latManga - Error interno">
	<h1>Error 500</h1>
    <h3>¡Ups! Algo salió mal.</h3>
    <p>Estamos teniendo problemas técnicos. Por favor, intenta de nuevo más tarde.</p>
</Layout>

<style>
</style>
