---
import Layout from "../layouts/Layout.astro";
import { MangaGrid } from "../components/MangaGrid.jsx";

const { organization, logged } = Astro.locals;
---

<Layout>
	<MangaGrid organization={organization} logged={logged} client:only />
	<div id="container-2e0c0974a516b75fc2711b2d13155557"></div>
	<script
		async="async"
		data-cfasync="false"
		src="//pl23165940.highcpmgate.com/2e0c0974a516b75fc2711b2d13155557/invoke.js"
	></script>
</Layout>
