---
import Layout from "../layouts/Layout.astro";
import { LoginCard } from '../components/LoginCard.jsx';
---

<Layout title="Tus mangas en latino">
	<div class="mx-auto max-w-screen-md py-12">
		<LoginCard client:only />
	</div>
</Layout>
