---
import Layout from "../layouts/Layout.astro";
import { getTranslator } from "../util/translate";

const { organization } = Astro.locals;
const _ = getTranslator(organization.language);

Astro.cookies.delete("token");
Astro.cookies.delete("username");
Astro.cookies.delete("userSlug");
Astro.cookies.delete("member");
---

<Layout title={_("logout_title")}>
	<div id="logout"></div>
</Layout>

<script>
	import "cookie-store";
	Promise.all([
		// @ts-ignore
		cookieStore.delete("token").catch((e) => console.error(e)),
		// @ts-ignore
		cookieStore.delete("username").catch((e) => console.error(e)),
		// @ts-ignore
		cookieStore.delete("userSlug").catch((e) => console.error(e)),
		// @ts-ignore
		cookieStore.delete("member").catch((e) => console.error(e)),
	]).then(() => {
		window.location.href = "/";
	});
</script>
