---
import Layout from "../layouts/Layout.astro";

Astro.cookies.delete("token");
Astro.cookies.delete("username");
Astro.cookies.delete("user_slug");
---

<Layout title="Tus mangas en latino">
	<div id="logout"></div>
</Layout>

<script>
	import "cookie-store";
	if (document.querySelector("#logout")) {
		Promise.all([
			// @ts-ignore
			cookieStore.delete("token"),
			// @ts-ignore
			cookieStore.delete("username"),
			// @ts-ignore
			cookieStore.delete("user_slug"),
		]).then(() => {
			window.location.href = "/";
		});
	}
</script>
