---
import Layout from "../layouts/Layout.astro";

Astro.cookies.delete("token");
Astro.cookies.delete("username");
Astro.cookies.delete("userSlug");
Astro.cookies.delete("member");
---

<Layout title="Cerrando sesión">
	<div id="logout"></div>
</Layout>

<script>
	import "cookie-store";
	if (document.querySelector("#logout")) {
		Promise.all([
			// @ts-ignore
			cookieStore.delete("token"),
			// @ts-ignore
			cookieStore.delete("username"),
			// @ts-ignore
			cookieStore.delete("userSlug"),
			// @ts-ignore
			cookieStore.delete("member"),
		]).then(() => {
			window.location.href = "/";
		});
	}
</script>
