---
import Layout from "../layouts/Layout.astro";
import { RegisterCard } from '../components/RegisterCard.jsx';
---

<Layout title="Registro">
	<div class="mx-auto max-w-screen-md py-12">
		<RegisterCard client:only />
	</div>
</Layout>
