---
import Layout from "../layouts/Layout.astro";
import { getTranslator } from "../util/translate";

const { organization } = Astro.locals;
const _ = getTranslator(organization.language);
---

<Layout title={_("login_title")}>
	<div class="mx-auto max-w-screen-md py-12">
		<p>
			Test country
		</p>
		<p>
			{Astro.request.headers.get('cf-ipcountry')}
		</p>
		<p>All headers</p>
		<pre>
			{JSON.stringify(Astro.request.headers, null, 2)}
		</pre>
	</div>
</Layout>
