---
interface Props {
    manga: any;
    chapter: any;
}

const { manga, chapter } = Astro.props;
---

<dialog id="modal_tutorial" class="modal">
  <div class="modal-box border-2 border-base-300">
    <h3 class="text-lg text-font-djb">{manga.title}</h3>
    <h4 class="text-lg">#{chapter.number} {chapter.title}</h4>
    <p class="py-4">¿No sabes cómo leer el manga? Aquí te explicamos:</p>
    <figure class="relative max-w-72 mx-auto cursor-pointer select-none">
        <img
            src="/images/orden.png"
            alt="Orden de lectura: De derecha a izquierda, de arriba a abajo"
            decoding="async"
            loading="lazy"
            class="mx-auto">
        <div class="bg-red-500 bg-opacity-20 hover:bg-opacity-40 w-6/12 h-full absolute top-0 left-0">
            <div class="flex items-center justify-center h-full w-full">
                <p class="text-xs py-2 px-4 text-white bg-red-700 bg-opacity-70">
                    Siguiente
                </p>
            </div>
        </div>
        <div class="bg-blue-500 bg-opacity-20 hover:bg-opacity-40 w-6/12 h-full absolute top-0 right-0">
            <div class="flex items-center justify-center h-full w-full">
                <p class="text-xs py-2 px-4 text-white bg-blue-700 bg-opacity-70">
                    Anterior
                </p>
            </div>
        </div>
    </figure>
    <p class="pt-4">
        Para ir a la
        <span class="text-red-300">siguiente página o capítulo</span>
        , haz click en la
        <span class="text-red-300">mitad izquierda</span>
        de la imagen.
    </p>
    <p class="pt-2">
        Para ir a la 
        <span class="text-blue-300">página o capítulo anterior</span>
        , haz click en la 
        <span class="text-blue-300">mitad derecha</span>
        de la imagen.
    </p>
    <div class="w-full">

    </div>
    <div class="flex flex-wrap place-content-between pt-4">
        <div class="form-control">
            <label class="label justify-start cursor-pointer">
                <input id="show-tutorial-checkbox" type="checkbox" class="checkbox" />
                <span class="ml-4 label-text">No volver a mostrar</span> 
            </label>
        </div>
        <form method="dialog">
            <button class="btn">Cerrar</button>
        </form>
    </div>
  </div>
  <div class="modal-backdrop bg-black bg-opacity-80"></div>
  <!-- <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form> -->
</dialog>

<script>
    import 'cookie-store';

    async function load() {
        const modal_tutorial = document.getElementById('modal_tutorial') as HTMLDialogElement;

        // @ts-ignore
        if ((await cookieStore.get('tutorial'))?.value !== 'true') {
            modal_tutorial.open = true;
        }

        document.getElementById('show-tutorial-checkbox')?.addEventListener('change', (event: Event) => {
            // @ts-ignore
            cookieStore.set('tutorial', (event.target as HTMLInputElement).checked.toString());
        });
    }
    document.addEventListener('astro:page-load', load, { once: false });
</script>
