---
import AdminLayout from "../../../../../layouts/AdminLayout.astro";
import { AdminMangasBreadcrumb } from "../../../../../components/admin/AdminMangasBreadcrumb.jsx";
import { AdminMangaCustomChapterCreateCard } from "../../../../../components/admin/AdminMangaCustomChapterCreateCard.jsx";

const { mangaSlug } = Astro.params;

const { status: mangaStatus, data: manga } = await Astro.locals.callAPI(`/api/manga-custom/${mangaSlug}`);

if (!mangaStatus) {
    return Astro.redirect('/404');
}
---

<AdminLayout title="Crear capitulo" page="mangas">
  <AdminMangasBreadcrumb client:only />
  <div class="py-2"></div>
  <AdminMangaCustomChapterCreateCard manga={manga} client:only />
</AdminLayout>
