---
import AdminLayout from "../../layouts/AdminLayout.astro";
import { AdminMangasBreadcrumb } from "../../components/admin/AdminMangasBreadcrumb.jsx";
import { AdminCoinPackGrid } from "../../components/admin/AdminCoinPackGrid.jsx";
---

<AdminLayout title="Paquetes de monedas" page="coinpacks">
  <AdminMangasBreadcrumb client:only />
  <div class="py-2"></div>
  <h1>Paquetes de monedas</h1>
  <AdminCoinPackGrid client:only />
</AdminLayout>
