---
import AdminLayout from "../../layouts/AdminLayout.astro";
import { AdminMangasBreadcrumb } from "../../components/admin/AdminMangasBreadcrumb.jsx";
import { AdminMangaCustomGrid } from "../../components/admin/AdminMangaCustomGrid.jsx";
import { AdminCreateMangaCustomButton } from "../../components/admin/AdminCreateMangaCustomButton.jsx";
---

<AdminLayout title="Mangas" page="mangas">
  <AdminMangasBreadcrumb client:only />
  <div class="py-2"></div>
  <h1>Mangas</h1>
  <AdminCreateMangaCustomButton client:only />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.
  </p>
  <AdminMangaCustomGrid client:only />
</AdminLayout>
