---
import AdminLayout from "../../layouts/AdminLayout.astro";
import { AdminMangasBreadcrumb } from "../../components/admin/AdminMangasBreadcrumb.jsx";
import { AdminMangaCustomGrid } from "../../components/admin/AdminMangaCustomGrid.jsx";
---

<AdminLayout title="Mangas" page="mangas">
  <AdminMangasBreadcrumb client:only />
  <div class="py-2"></div>
  <h1>Mangas</h1>
  <p>
    Administra los mangas de tu organización. Puedes crear, editar y eliminar
  </p>
  <AdminMangaCustomGrid client:only />
</AdminLayout>
