---
import AdminLayout from "../../layouts/AdminLayout.astro";
import { AdminMangasBreadcrumb } from "../../components/admin/AdminMangasBreadcrumb.jsx";
import { AdminMangaCustomGrid } from "../../components/admin/AdminMangaCustomGrid.jsx";
import { getTranslator } from "../../util/translate";

const { organization } = Astro.locals;
const _ = getTranslator(organization.language);
---

<AdminLayout title={_("admin_books_title")} page="mangas">
  <AdminMangasBreadcrumb organization={organization} client:only="react"/>
  <div class="py-2"></div>
  <AdminMangaCustomGrid organization={organization} client:only="react"/>
</AdminLayout>
