---
import AdminLayout from "../../layouts/AdminLayout.astro";
import { AdminMangasBreadcrumb } from "../../components/admin/AdminMangasBreadcrumb.jsx";
import { AdminMangaCustomGrid } from "../../components/admin/AdminMangaCustomGrid.jsx";
---

<AdminLayout title="Mangas" page="mangas">
  <AdminMangasBreadcrumb client:only />
  <div class="py-2"></div>
  <AdminMangaCustomGrid client:only />
</AdminLayout>
